<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue 循环语句</title>
    <script src="../lib/vue/dist/vue.min.js"></script>
</head>
<body>
<div id="app">
    <p>v-for 指令需要以 site in sites 形式的特殊语法，sites 是源数据数组并且 site 是数组元素迭代的别名。</p>
    v-for 可以绑定数据到数组来渲染一个列表：
    <ol>
        <li v-for="site in sites">
            {{ site.name }}
        </li>
    </ol>
    模板中使用 v-for：
    <ul>
        <template v-for="site in sites">
            <li>{{ site.name }}</li>
            <li>--------------</li>
        </template>
    </ul>
    在 v-for 块中，我们拥有对父作用域属性的完全访问权限。v-for 还支持一个可选的第二个参数为当前项的索引。
    <ol>
        <li v-for="(site,index) in sites">
            {{ parentMessage }} - {{ index }} - {{ site.name }}
        </li>
    </ol>
    v-for 可以通过一个对象的属性来迭代数据：
    <ul>
        <li v-for="value in object">
            {{ value }}
        </li>
    </ul>
    你也可以提供第二个的参数为键名：
    <ul>
        <li v-for="(value, key) in object">
            {{ key }} : {{ value }}
        </li>
    </ul>
    第三个参数为索引：
    <ul>
        <li v-for="(value, key, index) in object">
            {{ index }}. {{ key }} : {{ value }}
        </li>
    </ul>
    v-for 也可以循环整数:
    <ul>
        <li v-for="n in 10">
            {{ n }}
        </li>
    </ul>
    在迭代属性输出的之前，v-for会对属性进行升序排序输出：
    <ul>
        <li v-for="message in messages">
            {{ message }}
        </li>
    </ul>
    当 Vue.js 用 v-for 正在更新已渲染过的元素列表时，它默认用“就地复用”策略。如果数据项的顺序被改变，Vue 将不会移动 DOM 元素来匹配数据项的顺序， 而是简单复用此处每个元素，并且确保它在特定索引下显示已被渲染过的每个元素。这个类似 Vue 1.x 的 track-by="$index" 。
    这个默认的模式是高效的，但是只适用于不依赖子组件状态或临时 DOM 状态 (例如：表单输入值) 的列表渲染输出。
    为了给 Vue 一个提示，以便它能跟踪每个节点的身份，从而重用和重新排序现有元素，你需要为每项提供一个唯一 key 属性。理想的 key 值是每项都有的且唯一的 id。这个特殊的属性相当于 Vue 1.x 的 track-by ，但它的工作方式类似于一个属性，所以你需要用 v-bind 来绑定动态值 (在这里使用简写)：
    <!--<div v-for="item in items" :key="item.id">  {{ item.text }}</div>-->
    建议尽可能在使用 v-for 时提供 key，除非遍历输出的 DOM 内容非常简单，或者是刻意依赖默认行为以获取性能上的提升。
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            parentMessage: 'Parent',
            sites: [
                {name: 'Runoob'},
                {name: 'Google'},
                {name: 'Taobao'}
            ],
            object: {
                name: '菜鸟教程',
                url: 'http://www.runoob.com',
                slogan: '学的不仅是技术，更是梦想！'
            },
            messages: {
                2: '学的不仅是技术，更是梦想！',
                1: '菜鸟教程',
                0: 'http://www.runoob.com'
            }
        }
    })
</script>
</body>
</html>